<div class="page-header">
	<h1>Log Viewer</h1>
</div>

<% if @error_info %>
  <div class="alert alert-error">
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    <strong>Warning</strong> <%= @error_info%>
  </div>
<% end %>

<form method="get" action="/logs" class="well form-inline">
  <label for="date">Date</label>
  <input name="date" placeholder="<%= Time.now.strftime("%Y%m%d") %>" class="input-small datepicker" value="<%= @filter_params[:date] || nil%>">
  <label for="status" style="margin-left: 1em">Status</label>
  <select name="status" class="input-small">
    <%= generate_options(%w[all success fail], @filter_params[:status], {"success" => "Success", "fail" => "Fail"}) %>
  </select>
  <label for="client" style="margin-left: 1em">Client Name</label>
  <select name="client" class="input-medium">
    <option>all</option>
    <%= generate_options(@clients, @filter_params[:client]) %>
    
  </select>
  <button class="btn" type="submit" name="submit" value="filter">Filter</button>
</form>

<% if @logs %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Time</th>
        <th>Client</th>
        <th>File</th>
        <th>Result</th>
        <th>Detail</th>
      </tr>
    </thead>
    <tbody>
      <% @logs.each do |log| %>
        <tr>
          <td><%= log[:time] %></td>
          <td><%= log[:client] %></td>
          <td><%= log[:file] %></td>
          <td><%= show_status(log[:status]) %></td>
          <td><%= log[:detail] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
