<div class="form">
  <form class="form-horizontal" method="post" action="/schedules/create">

    <div class="control-group">
      <label class="control-label" for="ClientID">ClientID</label>
      <div class="controls">
        <select name="schedule[ClientID]">
          <option>Please select...</option>
          <%= generate_options(@clients, @schedule["ClientID"]) %>
        </select>
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="FileType">FileType</label>
      <div class="controls">
        <select name="schedule[FileType]">
          <option>Please select...</option>
          <%= generate_options(FILE_TYPE, @schedule["FileType"]) %>
        </select>
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="Frequence">Frequence</label>
      <div class="controls">
        <select name="schedule[Frequence]">
          <option>Please select...</option>
          <%= generate_options(FREQUENCE, @schedule["Frequence"]) %>
        </select>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="ExecuteAt">ExecuteAt</label>
      <div class="controls">
        <select name="schedule[ExecuteAt][]" multiple="true" size="7">
          <%= generate_options((1..31).to_a.map{|e| e.to_s}, split_for_selected(@schedule["ExecuteAt"]) ) %>
        </select>
        <p class="help-block">Hold down the control(ctrl) or command button to select multiple options</p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="StartAt">StartAt</label>
      <div class="controls">
        <input type="text" class="input-big datepicker" name="schedule[StartAt]" value=<%= @schedule['StartAt'] || '' %>>
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="Status">Status</label>
      <div class="controls">
        <select name="schedule[Status]">
          <%= generate_options(%w[true false], @schedule["Status"]) %>
        </select>
      </div>
    </div>

    <div class="form-actions">
      <button class="btn btn-primary" type="submit"><%= @schedule.size == 0 ? "Create" : "Update"%></button>
      <a class="btn" href="/schedules">Back</a>
    </div>

  </form>
</div>
