<div class="form">
  <form class="form-horizontal" method="post" action="/schedules/<%= @schedule.size == 0 ? "create" : "update"%>">

  <input name="id" value="<%= @schedule_id || ''%>" type="hidden" />

    <div class="control-group">
      <label class="control-label" for="ClientID">ClientID</label>
      <div class="controls">
        <select name="schedule[ClientID]">
          <option>Please select...</option>
          <%= generate_options(@clients, @schedule["ClientID"]) %>
        </select>
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="FileType">FileType</label>
      <div class="controls">
        <select name="schedule[FileType]">
          <option>Please select...</option>
          <%= generate_options(FILE_TYPE, @schedule["FileType"]) %>
        </select>
      </div>
    </div>
    
    <div class="control-group" id="frequence">
      <label class="control-label" for="Frequence">Frequence</label>
      <div class="controls">
        <select name="schedule[Frequence]">
          <option value="blank">Please select...</option>
          <%= generate_options(FREQUENCE, @schedule["Frequence"]) %>
        </select>
      </div>
    </div>

    <div class="control-group" id="execute-date" style="display: none">
      <label class="control-label" for="ExecuteDate">ExecuteDate</label>
      <div class="controls">
      </div>
    </div>

    <div class="control-group" id="execute-time" style="display: none">
      <label class="control-label" for="ExecuteTime">ExecuteTime</label>
      <div class="controls">
        <% if @schedule.size==0 || !@schedule["ExecuteTime"].include?(",") %>
          <p><input type="text" class="input-small timepicker" name="schedule[ExecuteTime][]" value='<%= @schedule["ExecuteTime"] || ''%>'> <a class="btn btn-mini add-time">Add More</a></p>
        <% elsif @schedule["ExecuteTime"].include?(",") %>
          <% @schedule["ExecuteTime"].split(",").each_with_index do |t, i| %>
            <p>
              <input type="text" class="input-small timepicker" name="schedule[ExecuteTime][]" value="<%= t %>"> 
              <% if i.zero? %>
                <a class="btn btn-mini add-time">Add More</a>
              <% else %>
                <a class="btn btn-mini remove-time">Remove</a>
              <% end %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="control-group" id="interval" style="display: none">
      <label for="Interval" class="control-label">Interval</label>
      <div class="controls">
        <input class="input-small" name="schedule[IntervalTime]" value='<%= @schedule['IntervalTime'] %>'/>
        <select class="input-small" name="schedule[IntervalUnit]">
          <%= generate_options(TIME_UNIT, @schedule['IntervalUnit']) %>
        </select>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="StartAt">Start At</label>
      <div class="controls">
        <input type="text" class="input-big datepicker" name="schedule[StartAt]" value=<%= @schedule['StartAt'] || '' %>>
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="Status">Status</label>
      <div class="controls">
        <select name="schedule[Status]">
          <%= generate_options(STATUS, @schedule["Status"]) %>
        </select>
      </div>
    </div>

    <div class="form-actions">
      <button class="btn btn-primary" type="submit"><%= @schedule.size == 0 ? "Create" : "Update"%></button>
      <a class="btn" href="/schedules">Back</a>
    </div>

  </form>
</div>

<div style="display: none">
  <div id="select-weekday">
    <select name="schedule[ExecuteDate][]" multiple="true" size="7">
      <%= generate_options((0..6).to_a.map{|e| e.to_s}, split_for_selected(@schedule["ExecuteDate"]), WEEKDAYS ) %>
    </select>
    <p class="help-block">Hold down the control(ctrl) or command button to select multiple options</p>
  </div>

  <div id="select-monthday">
    <select name="schedule[ExecuteDate][]" multiple="true" size="10">
      <%= generate_options((1..31).to_a.map{|e| e.to_s}, split_for_selected(@schedule["ExecuteDate"]) ) %>
    </select>
    <p class="help-block">Hold down the control(ctrl) or command button to select multiple options</p>
  </div>

  <div id="once-date">
    <input class="input-big datepicker" name="schedule[ExecuteDate]" value=<%= @schedule['ExecuteDate'] || '' %>>
  </div>

  <div id="add-time">
     <p style="display: none"><input type="text" class="input-small timepicker" name="schedule[ExecuteTime][]"> <a class="btn btn-mini remove-time">Remove</a></p>
  </div>
</div>
