<div class="page-header">
  <h1>New Schedule</h1>
</div>
<div class="form">
  <form class="form-horizontal" method="post" action="/schedules/create">

    <div class="control-group">
      <label class="control-label" for="ClientID">ClientID</label>
      <div class="controls">
        <select name="schedule[ClientID]">
          <option>Please select...</option>
          <%= generate_options(@clients) %>
        </select>
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="FileType">FileType</label>
      <div class="controls">
        <select name="schedule[FileType]">
          <option>Please select...</option>
          <%= generate_options(FILE_TYPE) %>
        </select>
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="Frequence">Frequence</label>
      <div class="controls">
        <select name="schedule[Frequence]">
          <option>Please select...</option>
          <%= generate_options(FREQUENCE) %>
        </select>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="ExecuteAt">ExecuteAt</label>
      <div class="controls">
        <select name="schedule[ExecuteAt][]" multiple="true" size="6">
          <%= generate_options((1..31).to_a) %>
        </select>
        <p class="help-block">Hold down the control(ctrl) or command button to select multiple options</p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="StartAt">StartAt</label>
      <div class="controls">
        <input type="text" class="input-big datepicker" name="schedule[StartAt]">
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="Status">Status</label>
      <div class="controls">
        <select name="schedule[Status]">
          <%= generate_options(%w[true false]) %>
        </select>
      </div>
    </div>

    <div class="form-actions">
      <button class="btn btn-primary" type="submit">Create</button>
      <a class="btn" href="/schedules">Back</a>
    </div>

  </form>
</div>
